<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GigLoud</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="../index.html" class="navbar-brand">GigLoud</a>
					</div>
					<div >
						<ul class="nav navbar-nav">
							<li><a href="../index.html">Home</a></li>
							<li><a href="temukan.html">Temukan</a></li>
							<li><a href="">FAQ</a></li>
							<li><a href="tentang.html">Tentang</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a id="daftar" href="daftar.html"><span class="glyphicon glyphicon-user">Daftar</span></a></li>
							<li><a id="masuk" href="#masuk-modal"><span class="glyphicon glyphicon-log-in" data-toggle="modal" target="#masuk-modal" >Masuk</span></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="sisi-kiri">
			<h4>Anda dapat mencari musisi - musisi sesuai yang anda inginkan untuk mengisi acara anda</h4>
		</div>

		<div class="jumbotron sisi-kanan">
			<form role="form">
			<h4>Daftar</h4>
			  <div class="form-group">
			    <input type="email" class="form-control" id="email" placeholder="Masukkan email">
			  </div>
			  <div class="form-group">
			    <input type="password" class="form-control" id="pwd" placeholder="Masukkan password">
			  </div>
			  <div class="form-group">
			    <input type="password" class="form-control" id="pwd" placeholder="Ulangi kata sandi">
			  </div>
			  <div class="form-group">
			  	<input type="text" class="form-control" id="nama" placeholder="Nama anda">
			  </div>
			  <div class="form-group">
			  	<input type="text" class="form-control" id="alamat" placeholder="Alamat">
			  </div>
			  <div class="checkbox">
			    <label><input type="checkbox"> Ingat saya</label>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

		<!-- //Modal -->

		<div class="modal fade" id="masuk-modal" role="dialog">
	    <div class="modal-dialog">

	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header" style="padding:35px 50px;">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4><span class="glyphicon glyphicon-lock"></span> Masuk</h4>
	        </div>
	        <div class="modal-body" style="padding:40px 50px;">
	          <form role="form">
	            <div class="form-group">
	              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
	              <input type="text" class="form-control" id="usrname" placeholder="Masukkan email">
	            </div>
	            <div class="form-group">
	              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
	              <input type="text" class="form-control" id="psw" placeholder="Masukkan Kata Sandi">
	            </div>
	            <div class="checkbox">
	              <label><input type="checkbox" value="" checked>Ingat Saya</label>
	            </div>
	              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>Masuk</button>
	          </form>
	        </div>
	        <div class="modal-footer">
	          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Batal</button>
	          <p>Belum terdaftar? <a href="#">Daftar</a></p>
	          <p>Lupa <a href="#">Password?</a></p>
	        </div>
	      </div>

	    </div>
	  </div>


		<!-- Modal// -->

	<hr class="featurette-divider">

</div>

<footer>
	<nav class="navbar navbar-inverse navbar-bottom">
		<div class="container-fluid">
			<div class="navbar-footer">
				<p class="text-center text-muted">Copyright &copy; 2016 GigLoud. All Rights Reserved</p>
			</div>

		</div>
	</nav>
</footer>

<script>
$(document).ready(function(){
    $("#masuk").click(function(){
        $("#masuk-modal").modal();
    });
});
</script>

</body>
</html>
