<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GigLoud</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="index.html" class="navbar-brand">GigLoud</a>
					</div>
					<div >
						<ul class="nav navbar-nav">
							<li><a href="temukan.html">Temukan</a></li>
							<li><a href="">FAQ</a></li>
							<li><a href="tentang.html">Tentang</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a id="daftar" href="musisi.html"><span class="glyphicon glyphicon-music">Ampas Coffe</span></a></li>

						</ul>
					</div>
				</div>
			</nav>
		</header>


	<hr class="featurette-divider" >

	<div class="list-group sisi-kiri-sm">
	  <a href="#" class="list-group-item">Dashboard</a>
	  <a href="#" class="list-group-item">Profil</a>
	  <a href="#" class="list-group-item">Penawaran</a>
	  <a href="#" class="list-group-item">Pengaturan</a>
	  <a href="#" class="list-group-item">Keluar</a>
	</div>

	<div class="list-musisi-group">
		<div class="list-musisi">


		  	<img src="img/gillian.jpg" id="gambar-musisi" class="img-circle" width="100px" height="100px" alt="">

		  	<div class="isi-list-group-item">
		  		Ampas Coffe
		  	</div>
		  	<div class=" isi-list-group-item">
		  		Lokasi : Medan, 11 KM
		  	</div>
		  	<div class="isi-list-group-item">
		  		Status : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa vero molestiae porro doloremque at natus, explicabo amet expedita iure quod error molestias nihil! Accusamus error eaque fugit dignissimos at perferendis?
		  	</div>
		</div>
		<div class="list-musisi">


		  	<img src="img/gillian.jpg" id="gambar-musisi" class="img-circle" width="100px" height="100px" alt="">

		  	<div class="isi-list-group-item">
		  		Ampas Coffe
		  	</div>
		  	<div class=" isi-list-group-item">
		  		Lokasi : Medan, 11 KM
		  	</div>
		  	<div class="isi-list-group-item">
		  		status : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, aspernatur maiores accusamus quisquam dolorem non eaque ducimus labore quae in nobis, esse quo beatae, eum alias. Quia eos dolor culpa.
		  	</div>
		</div>

	</div>

</div>

<footer>
	<nav class="navbar navbar-inverse navbar-bottom">
		<div class="container-fluid">
			<div class="navbar-footer">
				<p class="text-center text-muted">Copyright &copy; 2015 GigLoud. All Rights Reserved</p>
			</div>

		</div>
	</nav>
</footer>

</body>
</html>
